<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Website</title>
        <link rel="stylesheet" href="/base.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% block css %}
        {% endblock %}
    </head>
  <body>
    <main>
        <nav class="navbar">
            <a href="/" class="logo">
                <img src="https://placehold.co/250x100/cecece/5e94ae/png?text=Cineholics" alt="Logo">
            </a>
            <ul class="nav-links">
                <li class="nav-item"><a href="/">Home</a></li>
                {% if user is defined and user != null and user.role == 'admin' %}
                    <li class="nav-item"><a href="/admin/dashboard">Admin Dashboard</a></li>
                    <li class="nav-item"><a href="/admin/users">Users</a></li>
                {% endif %}

                <li class="nav-item"><a href="/movies">Movies</a></li>
                {% if app.session.get('user_id') %}
                    <li class="nav-item"><a href="/sign-out">Sign Out</a></li>
                {% else %}
                    <li class="nav-item"><a href="/sign-up">Sign Up</a></li>
                    <li class="nav-item"><a href="/sign-in">Sign in</a></li>
                {% endif %}
            </ul>
          </nav>

          {% block content %}
          {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/base.js"></script>
  </body>
</html>
