{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}

{% if user is defined and user != null and user.role == 'admin' %}
<div class="mx-2 mt-2 text-center">
    <h3> Click the button bellow to fetch new movies! </h3>
    <p> Use this only the first time in order to fetch movies </p>
    <button type="button" id="fetch-movies" class="btn btn-primary btn-lg" data-url="{{ url('movies_fetch') }}">Fetch Movies</button>
</div>
{% endif %}

<div class="container-fluid mt-5 mx-2">
    <h3> Filters </h3>

    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            <h4> Genre </h4>
            <select class="form-select" name="genre">
                <option {% if queryParams and queryParams.genre == 'all' %}  selected {% endif %} value="all">All</option>
                <option {% if queryParams and queryParams.genre == 'Action' %}  selected {% endif %} value="Action">Action</option>
                <option {% if queryParams and queryParams.genre == 'Animation' %}  selected {% endif %} value="Animation">Animation</option>
                <option {% if queryParams and queryParams.genre == 'Science' %}  selected {% endif %} value="Science Fiction">Science Fiction</option>
                <option {% if queryParams and queryParams.genre == 'Horror' %}  selected {% endif %} value="Horror">Horror</option>
                <option {% if queryParams and queryParams.genre == 'War' %}  selected {% endif %} value="War">War</option>
                <option {% if queryParams and queryParams.genre == 'Mystery' %}  selected {% endif %} value="Mystery">Mystery</option>
                <option {% if queryParams and queryParams.genre == 'Adventure' %}  selected {% endif %} value="Adventure">Adventure</option>
                <option {% if queryParams and queryParams.genre == 'Thriller' %}  selected {% endif %} value="Thriller">Thriller</option>
                <option {% if queryParams and queryParams.genre == 'Comedy' %}  selected {% endif %} value="Comedy">Comedy</option>
            </select>
        </div>
        <div class="p-2">
            <h4> Year </h4>
            <select class="form-select" name="year">
                <option {% if queryParams and queryParams.year == '2020' %} selected {% endif %} value="2020">2020</option>
                <option {% if queryParams and queryParams.year == '2021' %} selected {% endif %} value="2021">2021</option>
                <option {% if queryParams and queryParams.year == '2022' %} selected {% endif %} value="2022">2022</option>
                <option {% if queryParams and queryParams.year == '2023' %} selected {% endif %} value="2023">2023</option>
            </select>
        </div>
        <div class="p-2">
            <h4> Movie Name </h4>
            <input type="text" class="form-control" name="movie-name" placeholder="Search for a movie by name" {% if queryParams and queryParams.movieName %} value="{{ queryParams.movieName }}" {% endif %}/>
        </div>
        <div class="p-2">
            <h4>&nbsp;</h4>
            <button id="apply-filters" type="button" class="btn btn-primary btn-md mb-3">Apply Filters</button>
        </div>
    </div>

    <hr>

    <h3> Now Playing </h3>
    {% for movieData in moviesData %}
        <div class="d-flex flex-row mb-3">
            {% for movie in movieData %}
                <div class="card mx-2" style="width: 18rem;">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.imageUrlId }}" class="card-img-top" alt="{{ movie.name }} Image">
                    <div class="card-body">
                        <h5 class="card-title"> {{ movie.name }} ({{ movie.year }})</h5>
                        <div><span> <i class="fa fa-star text-warning"></i> {{ movie.rating }} / 10</span></div>
                        <p class="card-text">{{ movie.description }}</p>
                        {% if user is defined and user != null and user.role == 'admin' %}
                            <div>
                                <div>
                                    <label>Edit</label>
                                    <a href="{{ url('movies_edit', {movieId: movie.id}) }}" style="text-decoration: none; cursor: pointer;" class="fa-solid fa-pencil text-primary mx-1 edit-movie"> </a>
                                </div>
                                <div>
                                    <label>Delete</label>
                                    <a data-href="{{ url('movies_delete', {movieId: movie.id}) }}" style="text-decoration: none; cursor: pointer;" class="fa-solid fa-trash text-danger mx-1 delete-movie"></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <a data-href="/book-movie/{{ movie.id }}" data-redirect_href="/sign-in" class="btn btn-primary book-movie {% if not movie.seats.count %} not-available {% endif %}" {% if user is not defined or user == null %} disabled="true" {% endif %}>Book now!</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-center mb-5"> There are no results for this combination of filters! </h3>
    {% endfor %}
</div>

{% endblock %}

{% block script %}
    <script src="/movies.js"></script>
{% endblock %}
