{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<section class="vh-100 mt-5">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12">
                <table class="table table-primary text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">First Seat Number</th>
                            <th scope="col">Last Seat Number</th>
                            <th scope="col">Attendance Date</th>
                            <th scope="col">Schedule</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Movie</th>
                            <th scope="col">Cancel</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.id }}</td>
                                <td>{{ reservation.customerName }}</td>
                                <td>{{ reservation.firstSeatNumber }}</td>
                                <td>{{ reservation.lastSeatNumber }}</td>
                                <td>{{ reservation.attendanceDate.format('Y-m-d') }}</td>
                                <td>{{ reservation.schedule }}</td>
                                <td>{{ reservation.price }} &euro;</td>
                                <td>{{ reservation.status }}</td>
                                <td>{{ reservation.movie.name }} ({{ reservation.movie.year }})</td>
                                <td>
                                    <a data-href="{{ url('reservation_cancel', {reservationId: reservation.id}) }}" style="text-decoration: none; cursor: pointer;" class="fa-solid fa-times text-danger mx-1 cancel-reservation"> </a>
                                </td>
                                <td>
                                    <a href="{{ url('reservation_edit', {reservationId: reservation.id}) }}" style="text-decoration: none; cursor: pointer;" class="fa-solid fa-pencil text-primary mx-1"> </a>
                                </td>
                                <td>
                                    <a data-href="{{ url('reservation_delete', {reservationId: reservation.id}) }}" style="text-decoration: none; cursor: pointer;" class="fa-solid fa-trash text-danger mx-1 delete-reservation"> </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="/reservations.js"></script>
{% endblock %}
